<template>


  <div id="app" class="small-container">
    <h1>Company management</h1>
    
       
    <employee-table :employees="employees" 
    @delete:employee="deleteEmployee" 
    @edit:employee="editEmployee" />
    <employee-form @add:employee="addEmployee" />
  </div>
</template>

<script>
import EmployeeTable from '@/components/EmployeeTable'
import EmployeeForm from '@/components/EmployeeForm'



export default {
  name: 'App',
  components:{
    EmployeeTable,
    EmployeeForm,
   
    
    
  },
  data(){
    return{
      employees:[
        {
          id:1,
          name:'Theeramed Dawan',
          position:'Graphic',
          email:'61160256@go.buu.ac.th',
          tel:'0890846720'
        },
        {
          id:2,
          name:'Pakkasit Twoyee',
          position:'Staff',
          email:'Pakkasit@go.buu.ac.th',
          tel:'0898797497'
        },
        {
          id:3,
          name:'John Smith',
          position:'Marketing',
          email:'Smith@go.buu.ac.th',
          tel:'0878941623'
        }
      ]
    }
  },
  methods:{
    addEmployee(employee){
      const lastID = this.employees.length > 0 ? this.employees[this.employees.length - 1].id : 0;
      const id = lastID +1;
      const newEmployee = {...employee,id};
      this.employees = [...this.employees,newEmployee]
    },
    deleteEmployee(id){
      this.employees = this.employees.filter(employee => employee.id !==id)
    },
    editEmployee(id,updatedEmployee){
      this.employees = this.employees.map(employee => employee.id == id ? updatedEmployee : employee)
    }
  }
}
</script>

<style>
.small-container {
  max-width: 680px;
}
button {
    background-color: #6b89ac;
    border: 1px solid #89a9d0;
    border-bottom-color: #1d4474;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    margin-bottom: 3px;
    text-align: center;
    display: inline-block;
    width: 100px;
}
button:hover,button:active,button:focus{
   background-color: #4CAF50;
   border: 1px ;
}
input{
  margin-bottom: 1rem;
}
</style>
