<template>
  <div>
    <form @submit.prevent="handleSubmit">
      <label>Employee name</label>
      <input v-model="employee.name" type="text">
      <label>Employee position</label>
      <input v-model="employee.position" type="text">
      <label>Employee email</label>
      <input v-model="employee.email" type="text">
      <label>Employee tel</label>
      <input v-model="employee.tel" type="text">
      <button>Add</button>
      

    </form>

  </div>
</template>

<script>
export default {
    name: 'employee-form',
    data(){
      return{
        sumbitting: false,
        error: false,
        sucess: false,
        employee:{
            name:'',
            positon:'',
            email:'',
            tel:''
        }
      }
    },
    methods:{
      handleSubmit(){
        this.$emit('add:employee',this.employee)
     }
    },
  }
</script>

<style scoped>
  form{
    margin-bottom: 2rem;
  }
</style>